<form action="/results" method="get">
  <div class="form-group">
    <label for="distance">Distance to Destination</label>
    <input name="distance" id="distance" type="number"/>
  </div>
  <button type="submit" class="btn">Submit!</button>
</form>
