<form action='/results'>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="1" name="giftWrap">Would you like your package gift-wrapped?
    </label>
  </div>
  <button class="btn" type="submit">Go!</button>
</form>
